<div class="project">

  <h2>¡Felicitaciones! Ya terminaste la primera etapa.</h2>
  <h3>
    El resultado de tu cuestionario es: <%= user_course.score.to_f %>%
  </h3>
  <p>
    Ahora es el momento de completar el proyecto final. ¿Estás listo? Esta es la consigna:
  </p>
  <p>
    <%= course.project %>
  </p>

  <%= simple_form_for([course, user_course]) do |f| %>
    <%= f.input :file, as: :file, class: 'form-control-file' %>
    <%= f.input :status, as: :hidden, input_html: {value: "project_completed"} %>
    <%= f.submit "Upload", class: 'btn btn-primary' %>
  <% end %>
</div>
