<!DOCTYPE html>
<html>
  <head>
    <title>LeWackatonEducaton</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9c6d3abd95.js" crossorigin="anonymous"></script>
  </head>

  <body style="height: 100vh">
    <%= render 'shared/flashes' %>
    <div class="d-flex" style="height: 100vh;">
      <div class="sidebar">
        <%= render 'shared/nav-list' %>
      </div>
      <div class="main">
        <%= render 'shared/navbar' %>
        <div class="landing px-5 mt-3 mx-5">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
